body {
	color:white;
	font-family:Helvetica;
	background:#26222E;
	font-size:120%;
}

h1, h2 {
	text-shadow: 2px 2px Grey;
}

li {
	margin: 10px 0;
}

.list-circle {
	list-style-type: circle;
}

.container {
	display: flex-center;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #18161d;
	border: 2px solid White;
	padding-top: 40px;
	padding-bottom: 40px;
}
	
.row {
	display: flex-center;
    flex-wrap: wrap;
}

#body-content {
	display: flex;
	justify-content: space-around;
	padding: 5px;
}

#menu {
	display: flex;
	justify-content: center;
}